.container {
  display: grid;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.card {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.card-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-button {
  background-color: #ec4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card-hidden {
  display: none;
}

.pokemon-card-active {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 20px;
  text-align: center;
}
